:root {
	--largura: 1;
	--altura: 1;
}

html, body{
	height: 100%;
	width: 100%;
	margin: 0 0;
	font-family: cursive;
}

html{
	color: white;
}

body{
	background-color: black;
}

header{
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 5px solid white;
	border-style: none none solid none;
}

footer{
	margin-top: 30px;
	padding: 10px;
	background-color: #3b3c3d;
	text-align: center;
}

nav{
	width: 100%;
}

nav ul{
	box-sizing: border-box;
	padding: 0 0;
	list-style-type: none;
	width: 100%;
	margin: 0em 0em 1em 0em;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}

nav ul li a{
	text-decoration:none;
	font-family: cursive;
	color:white;
	padding: 1em;
	border-radius: 0.5em;
}

header ul li a:hover{
	cursor: pointer;
	background-color: white;
	color:black !important;
}

nav ul li a:active{
	background-color: white;
	color: yellow !important;
	text-shadow: 1px 1px 5px black;
}

footer h4 a{
	text-decoration:none;
	font-family: cursive;
	color:white;
	/* padding: 1em; */
	border-radius: 0.5em;
}

footer h4:hover{
	cursor: pointer;
}

#titulo-principal{
	margin: 0;
	box-sizing: border-box;
	font-family: cursive;
	font-size: 2.5em;
}

#boas-vindas{
	/* width: 80%; */
	font-family: cursive;
	margin: 0em 5em;
	text-align: center;
	padding: 1em 0em 3em 0em;
}

#historia{
	padding: 0 3em 0 3em;
	text-align: center;
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: space-around; */
}

#motivacao{
	padding: 1em 3em 3em 3em;
	text-align: center;
}

#quadro-motivacao{
	border: 10px solid white;
	display: grid;
	grid-template-columns: 25% auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"menu conteudo"
		"menu conteudo"
		"menu conteudo"
}

#menu-motivacao{
	grid-area: menu;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	list-style-type: none;
}

#menu-motivacao li{
	padding: 0.5em;
	border-radius: 0.5em;
	transition: all 500ms ease;
}

#menu-motivacao li:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
}

.menu-motivacao-selecionado{
	background-color: white !important;
	color:black;
}

#conteudo-motivacao{
	grid-area: conteudo;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0em 2em;
}

#conteudo-motivacao p {
	justify-self:center;
	justify-content: center;
}

#imagem{
	opacity: 0.1;
	transition: all 1ms ease;
}

#pratica{
	text-align: center;
	margin: 0em 5em;
}

#matriz1x1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

#matriz1x1 h3{
	padding: 0px 0px 0px 10px;
}

#conclusao{
	text-align: center;
	position: relative;
}

#botaoConclusao{
	box-sizing: border-box;
	margin: auto;
	top: 20px;
	display: block;
	text-decoration:none;
	font-family: cursive;
	color:white;
	background-color: black;
	border: 3px solid white;
	padding: 1em;
	border-radius: 0.5em;
	width: fit-content;
	text-align: center;
}

#botaoConclusao:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	border: 3px solid black;
}

.matriz{
	top:15px;
	box-sizing: border-box;
	display: grid;
	position: relative;
	grid-template-columns: repeat(var(--largura), 40px);
	grid-column-gap: 0;
	grid-template-rows: repeat(var(--altura),2em);
	width: calc(31.5px*var(--largura) + 6px);
	height: calc(2em*var(--altura));
	border-left: 3px solid white;
	border-right: 3px solid white;
}

.matriz::before, .matriz::after{
	box-sizing: border-box;
	position: absolute;
	left: -3px;
	content: "";
	display: block;
	width: calc(100% + 6px);
	height: 3px;
	background-image: linear-gradient(to right, white 25%,transparent 25%, transparent 75%, white 75%);
}

.matriz::before{
	top: -3px;
}

.matriz::after{
	bottom: -3px;
}


.matriz-value{
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	-webkit-appearance: textfield;
	-webkit-rtl-ordering: logical;
	box-sizing: border-box;
	width: calc(31.5px*var(--largura));
	height: 1em;
	background-color: mediumseagreen;
	border-width: 0;
	outline: none;
	color: black;
	text-align: center;
	padding: 0;
	font-size: 2em;
}

#emDesenvolvimento{
	width: 100%;
	height: auto;
	margin-top: 20px;
}


