@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--larguraMatriz: 1; /* Colunas */
	--alturaMatriz: 1; /* Linhas */
	--larguraInputMatriz: 1;
	--limiteInferiorChave: 25%;
	--limiteSuperiorChave: 75%;
}

html, body{
	height: 100%;
	margin: 0 0;
	font-family: 'Montserrat', sans-serif;
}

html{
	color: black;
}

body{
	background-image: url('imgs/background.png');
	background-size: cover;
	background-repeat: repeat-y;
}

header, main{
	margin-left: 32px;
}

header{
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 5px solid white;
	border-style: none none none none;
	margin-top: 1em;
	margin-bottom: 1em;
	box-sizing: border-box;
}

main{
	text-align: center;
}

footer{
	margin-top: 3em;
	padding: 10px;
	background-color: #3b3c3d;
	text-align: center;
	color: white;
}

nav{
	margin: 1em 0em 1em 0em;
	width: 94%;
	background-color: #3b3c3d;
}

nav ul{
	box-sizing: border-box;
	padding: 0 0;
	list-style-type: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}

nav ul li a{
	text-decoration:none;
	color:white;
}

header ul li a:hover{
	cursor: pointer;
	border-bottom: 2px solid #f5f5f5;
}

nav ul li a:active{
	background-color: white;
	color: yellow !important;
	text-shadow: 1px 1px 5px black;
}

footer h4 a{
	text-decoration:none;
	color:white;
	/* padding: 1em; */
	border-radius: 0.5em;
}

footer h4:hover{
	cursor: pointer;
}

#titulo-principal{
	margin-top: 10px;
	width: auto;
	height: 75px;
	display: block;
}

#titulo-principal:hover{
	cursor: pointer;
}

#boas-vindas{
	/* width: 80%; */
	text-align: center;
	margin: 1em 1em 3em 1em;
}

#historia{
	margin: 1em 3em 1em 3em;
	text-align: center;
}

#motivacao{
	margin: 1em 3em 1.5em 3em;
	text-align: center;
}

#quadro-motivacao{
	border: 4px solid #303030;
	display: grid;
	grid-template-columns: 25% auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"menu conteudo"
		"menu conteudo"
		"menu conteudo"
}

#menu-motivacao{
	grid-area: menu;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	list-style-type: none;
}

#menu-motivacao li{
	font-weight: bold;
	padding: 0.5em;
	border-radius: 0.5em;
	transition: all 500ms ease;
}

#menu-motivacao li:hover{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.25);
}

.menu-motivacao-selecionado{
	background-color: #303030 !important;
	color:white;
}

#conteudo-motivacao{
	grid-area: conteudo;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0em 2em;
}

#conteudo-motivacao p {
	justify-self:center;
	justify-content: center;
	font-weight: bold;
}

#imagem{
	opacity: 0.1;
	transition: all 1ms ease;
}

#pratica{
	text-align: center;
	margin: 1em 1em;
}

#matriz1x1{
	margin: 1em 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

#matriz1x1 h3{
	padding: 0px 0px 0px 10px;
}

#conclusao{
	margin: 1em 1em 0em 1em;
	text-align: center;
	position: relative;
}

#botaoConclusao{
	box-sizing: border-box;
	margin: auto;
	top: 20px;
	display: block;
	text-decoration:none;
	color:white;
	background-color: #de4e4e;
	border: 3px solid #303030;
	padding: 1em;
	border-radius: 0.5em;
	width: fit-content;
	text-align: center;
}

#botaoConclusao:hover{
	cursor: pointer;
	background-color: #f5f5f5;
	color: black;
	border: 3px solid #3b3c3d;
}

.matriz{
	box-sizing: border-box;
	display: grid;
	position: relative;
	grid-template-columns: repeat(var(--larguraMatriz), 32px);
	grid-column-gap: 0;
	grid-template-rows: repeat(var(--alturaMatriz),2em);
	width: calc(32px*var(--larguraMatriz) + 6px);
	height: calc(2em*var(--alturaMatriz));
	border-left: 3px solid #3b3c3d;
	border-right: 3px solid #3b3c3d;
}

.matriz::before, .matriz::after{
	box-sizing: border-box;
	position: absolute;
	left: -3px;
	content: "";
	display: block;
	width: calc(100% + 6px);
	height: 3px;
	background-image: linear-gradient(to right, #3b3c3d var(--limiteInferiorChave),
						transparent var(--limiteInferiorChave),
						transparent var(--limiteSuperiorChave), #3b3c3d var(--limiteSuperiorChave));
}

.matriz::before{
	top: -3px;
}

.matriz::after{
	bottom: -3px;
}

.matriz-value::-webkit-outer-spin-button,
.matriz-value::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.matriz-value{
	-webkit-writing-mode: horizontal-tb !important;
	-webkit-appearance: textfield;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	-webkit-rtl-ordering: logical;
	box-sizing: border-box;
	width: calc(31.5px*var(--larguraInputMatriz));
	height: 1em;
	border-width: 0;
	border-radius: 3px;
	outline: none;
	color: #303030;
	text-align: center;
	padding: 0;
	font-size: 2em;
	background-color: transparent;
}

.editavel{
	background-color: #de4e4e;
	color: #f5f5f5;
}

#emDesenvolvimento{
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.vermelhoFlat{
	color: #de4e4e;
	/*color: green;*/
}

#explicacao2x2{
	margin: 1em 1em;
	text-align: center;
	/*width: 60%;*/
}

.row{
	margin: 1em 1em;
	padding: 1em 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#explicacao2x2 h3{
	padding: 0px 15px;
}
